.device-item
    .device-item-top
        .device-item-top__greeting
            h3 Good Morning 
            h5 Have a nice Day!
    .device-item-main
        .device-item-main__temp-card
            h1 + 25°C
            h1 + 25°C
    .device-item-bottom
        .all-devices-title.d-flex
            .toggle-device.choose
                h5.sockets-title Sockets
            h5(style="color: black; margin: 0px 5px") /
            .toggle-device 
                h5.thermometers-title  Thermometers
        .d-flex.device-information-bottom
            .devices     
                .sockects
                    include sockets
                .thermometers.d-none
                    include thermometers
            .all-device-information
                .all-device-information-content
