.device-item
    .device-item-top
        .device-item-top__greeting
            h3 Good Morning 
            h5 Have a nice Day!
    .device-item-main
        .device-item-main__temp-card
            .d-flex    
                h1 +
                h1.temperature-floor2
                h1 °C
            .d-flex
                h1 +
                h1.temperature-floor1
                h1 °C
    .device-item-bottom
        .all-devices-title.d-flex
            .toggle-device.choose
                h5.sockets-title Sockets
            h5(style="color: black; margin: 0px 5px") /
            .toggle-device 
                h5.thermometers-title  Thermometers
        .d-flex.device-information-bottom
            .devices     
                .sockects
                    include sockets
                .thermometers.d-none
                    include thermometers
            .all-device-information.d-flex
                .all-device-information-content
                button.turn-off-button.d-none
                    svg(width="24" height="24" viewBox="0 0 24 24")
                        //rect(width = "100%" height = "100%" fill = "red")
                        line(x1 = "12" x2 = "12" y1 = "3" y2 = "8" stroke = "#ced4da" stroke-width ="3" stroke-linecap="round")
                        path(fill = "none" d="M 18 6 A 8 8 0 1 1 6 6" stroke = "#ced4da" stroke-width ="3" stroke-linecap="round")
