.device-item
    .device-item-top
        .device-item-top__greeting
            h3 Good Morning 
            h5 Have a nice Day!
        button.device-item-top__button New Device
        .device-item-top__room Living Room 
    .device-item-main
        .device-item-main__temp-card-img 
            include temp
        .device-item-main__temp-card-info 
            h4 Temperature 
            h6 + 25°C
            img(src="" alt="Img")

