.card
    img(src='https://placekitten.com/g/200/300')
    .card-block
    h4.card-title This is a kitten
    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.