.sockets
    .sockets-container 
        h1 Sockets | Temperatures
        .sockets-container-list 
            .sockets-container-list-item 
                .sockets-container-list-item-image 
                    include socket
                .sockets-container-list-item-info-container 
                    .sockets-container-list-item-info
                        h3 Name: 
                        h5 Socket1
                    .sockets-container-list-item-info
                        h3 Status: 
                        h5 ON
                    .sockets-container-list-item-info
                        h3 Floor: 
                        h5 1
            .sockets-container-list-item 
                .sockets-container-list-item-image 
                    include socket
                .sockets-container-list-item-info-container 
                    .sockets-container-list-item-info
                        h3 Name: 
                        h5 Socket2
                    .sockets-container-list-item-info
                        h3 Status: 
                        h5 OFF
                    .sockets-container-list-item-info
                        h3 Floor: 
                        h5 2
            .sockets-container-list-item 
                .sockets-container-list-item-image 
                    include socket
                .sockets-container-list-item-info-container 
                    .sockets-container-list-item-info
                        h3 Name: 
                        h5 Socket3
                    .sockets-container-list-item-info
                        h3 Status: 
                        h5 ON
                    .sockets-container-list-item-info
                        h3 Floor: 
                        h5 3
        
        
