template#t-socket
    .sockets-container-list-item 
        .sockets-container-list-item-image 
            include socket
        .sockets-container-list-item-info-container 
            .sockets-container-list-item-info
                h3.name Name: 
                h5.name
            .sockets-container-list-item-info
                h3.state Status: 
                h5.state
            .sockets-container-list-item-info
                h3.floor Floor: 
                h5.floor

.sockets-container 
    .sockets-container-list