mixin newSocket(name, state, floor)
    .sockets-container-list-item 
                .sockets-container-list-item-image 
                    .device
                        include socket
                .sockets-container-list-item-info-container 
                    .sockets-container-list-item-info
                        h3 Name: 
                        h5= name
                    .sockets-container-list-item-info
                        h3 Status: 
                        h5= state
                    .sockets-container-list-item-info
                        h3 Floor: 
                        h5= floor

.sockets-container 
    .sockets-container-list 
        +newSocket("Socket1","ON","1")
        +newSocket("Socket2","OFF","2")
        +newSocket("Socket3","ON","3")
        +newSocket("Socket4","OFF","4")
            