.device
    .thermometer
        svg.thermometer-icon(width="156" height="156")

            rect(x="12" y="12" rx="30" ry="30" width="132" height="132" stroke="#ced4da" stroke-width="5" stroke-linecap="round" fill="transparent")

            line(x1="78" x2="78" y1="75" y2="88" stroke="#ced4da" stroke-width="3.5" stroke-linecap="round")
            circle(cx="78" cy="88" r="5" fill="#ced4da")

            path(d="M 73 82 V 55 A 5 5 1 1 1 83 55 V 82 " fill="none" stroke="#ced4da" stroke-width="2" stroke-linecap="round")
            path(d="M 73 82 A 8 8 1 0 0 78 96" fill="none" stroke="#ced4da" stroke-width="2")
            path(d="M 83 82 A 8 8 1 0 1 78 96" fill="none" stroke="#ced4da" stroke-width="2")

            line(x1="82" x2="80" y1="58" y2="58" stroke="#ced4da" stroke-width="2" stroke-linecap="round")
            line(x1="82" x2="80" y1="63" y2="63" stroke="#ced4da" stroke-width="2" stroke-linecap="round")
            line(x1="82" x2="80" y1="68" y2="68" stroke="#ced4da" stroke-width="2" stroke-linecap="round")

            circle(cx="78" cy="110" r="3" fill="#00FF00" stroke="gray")
    .thermometer-information.d-none.d-flex
        .first-column
            .thermometer-name.thermometers-container-list-item-info
                h3 Name: 
                h5.name 
            .thermometer-floor.thermometers-container-list-item-info
                h3 Floor: 
                h5.floor
            .thermometer-temperature.thermometers-container-list-item-info
                h3 Temp: 
                h5.temperature
            .thermometer-humidity.thermometers-container-list-item-info
                h3 Humidity: 
                h5.humidity
        .second-column
            .thermometer-linkquality.thermometers-container-list-item-info
                h3 Linkquality: 
                h5.linkquality
            .thermometer-pressure.thermometers-container-list-item-info
                h3 Pressure: 
                h5.pressure
            .thermometer-voltage.thermometers-container-list-item-info
                h3 Voltage: 
                h5.voltage
            .thermometer-topic.thermometers-container-list-item-info.d-none
                h3 Topic: 
                h5.topic
            