mixin newTemp(name, floor)
    .thermometers-container-list-item 
                .thermometers-container-list-item-image
                    .device
                        include temp
                .thermometers-container-list-item-info-container 
                    .thermometers-container-list-item-info
                        h3 Name: 
                        h5= name
                    .thermometers-container-list-item-info
                        h3 Floor: 
                        h5= floor


.thermometers-container 
    .thermometers-container-list 
        +newTemp("Temp1","1")
        +newTemp("Temp2","2")
        +newTemp("Temp3","3")
        +newTemp("Temp4","4")