template#t-thermometer
    .thermometers-container-list-item 
                .thermometers-container-list-item-image
                    include temp
                .thermometers-container-list-item-info-container 
                    .thermometers-container-list-item-info
                        h3.name Name: 
                        h5.name
                    .thermometers-container-list-item-info
                        h3.floor Floor: 
                        h5.floor
                    .thermometers-container-list-item-info
                        h3.temperature Temp: 
                        h5.temperature
                    .thermometers-container-list-item-info
                        h3.humidity Humidity: 
                        h5.humidity


.thermometers-container 
    .thermometers-container-list 
        