svg.thermometer(width = '50' height = '300')
    path(d="M 5 275 V 25 A 20 20 0 1 1 45 25 V 275 A 20 20 0 1 1 5 275" fill="none" stroke="#ced4da" stroke-width="5" fill-dasharray = "10 10")
    

    line(x1="5" x2="5" y1="25" y2="275" stroke="#ced4da" stroke-width="5" stroke-linecap="round")
    line(x1="45" x2="45" y1="25" y2="275" stroke="#ced4da" stroke-width="5" stroke-linecap="round")

    line(x1="45" x2="20" y1 = "100" y2="100" stroke="#ced4da" stroke-width="5" stroke-linecap="round")
    line(x1="45" x2="20" y1 = "200" y2="200" stroke="#ced4da" stroke-width="5" stroke-linecap="round")
    
    line(x1="44" x2="30" y1="20" y2="20" stroke="#ced4da" stroke-width="5" stroke-linecap="round")
    line(x1="45" x2="30" y1="40" y2="40" stroke="#ced4da" stroke-width="5" stroke-linecap="round")
    line(x1="45" x2="30" y1="60" y2="60" stroke="#ced4da" stroke-width="5" stroke-linecap="round")
    line(x1="45" x2="30" y1="80" y2="80" stroke="#ced4da" stroke-width="5" stroke-linecap="round")
    line(x1="45" x2="30" y1="120" y2="120" stroke="#ced4da" stroke-width="5" stroke-linecap="round")
    line(x1="45" x2="30" y1="140" y2="140" stroke="#ced4da" stroke-width="5" stroke-linecap="round")
    line(x1="45" x2="30" y1="160" y2="160" stroke="#ced4da" stroke-width="5" stroke-linecap="round")
    line(x1="45" x2="30" y1="180" y2="180" stroke="#ced4da" stroke-width="5" stroke-linecap="round")
    line(x1="45" x2="30" y1="220" y2="220" stroke="#ced4da" stroke-width="5" stroke-linecap="round")
    line(x1="45" x2="30" y1="240" y2="240" stroke="#ced4da" stroke-width="5" stroke-linecap="round")
    line(x1="45" x2="30" y1="260" y2="260" stroke="#ced4da" stroke-width="5" stroke-linecap="round")
    line(x1="44" x2="30" y1="280" y2="280" stroke="#ced4da" stroke-width="5" stroke-linecap="round")